In [1]:
#imports
import tflearn
import pandas
import numpy as np

/home/mrlipdx/Documents/ml/tensorflowGPU/lib/python3.5/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
# Dataset loading
dataframe = pandas.read_csv('ign.csv', delimiter = ",")
dataframe.head()

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11

In [3]:
# Data Processing

#selecting the features we want
features_to_drop = ['Unnamed: 0','url','platform','genre', 'score',
                    'editors_choice','release_year','release_month',
                    'release_day']
dataframe = dataframe.drop(features_to_drop, axis = 1)

#removing duplicates
dataframe.drop_duplicates('title')

print(dataframe.head())

  score_phrase                                              title
0      Amazing                            LittleBigPlanet PS Vita
1      Amazing  LittleBigPlanet PS Vita -- Marvel Super Hero E...
2        Great                               Splice: Tree of Life
3        Great                                             NHL 13
4        Great                                             NHL 13

In [4]:
#Vocabulary processing
dataframe['score_phrase'].value_counts()

Great          4773
Good           4741
Okay           2945
Mediocre       1959
Amazing        1804
Bad            1269
Awful           664
Painful         340
Unbearable       72
Masterpiece      55
Disaster          3
Name: score_phrase, dtype: int64

In [5]:
MAX_TITLE_SIZE = 25
title_vp = tflearn.data_utils.VocabularyProcessor(MAX_TITLE_SIZE)
title_vp.fit(dataframe['title'])
dataframe['title'] = list(title_vp.transform(dataframe['title']))

score_vp = tflearn.data_utils.VocabularyProcessor(1)
score_vp.fit(dataframe['score_phrase'])
dataframe['score_phrase'] = list(score_vp.transform(dataframe['score_phrase']))
TOTAL_SCORE_PHASES = len(dataframe['score_phrase'].value_counts())
print(TOTAL_SCORE_PHASES)
dataframe.head()

11

  score_phrase                                              title
0          [1]  [1, 2, 3, 4, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1          [1]  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 0, 0, 0, 0,...
2          [2]  [11, 12, 13, 14, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
3          [2]  [15, 16, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
4          [2]  [15, 16, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...

In [6]:
#spliting to test training sets
def split_train_tests(data, test_ratio):
    np.random.seed(42) #for testing purposes only
    shuffled_indicies = np.random.permutation(len(data))
    test_set_size = int(len(data) * test_ratio)
    test_indices = shuffled_indicies[:test_set_size]
    train_indices = shuffled_indicies[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

train_set, test_set = split_train_tests(dataframe, 0.2)


trainX = tflearn.data_utils.pad_sequences(
    train_set['title'].values, maxlen = MAX_TITLE_SIZE, value = 0.)
trainY = tflearn.data_utils.to_categorical(
    train_set['score_phrase'], nb_classes = TOTAL_SCORE_PHASES )

testX = tflearn.data_utils.pad_sequences(
    test_set['title'].values, maxlen = MAX_TITLE_SIZE, value = 0.)
testY = tflearn.data_utils.to_categorical(
    test_set['score_phrase'], nb_classes = TOTAL_SCORE_PHASES )

print(testX.shape)
print(testY.shape)

IndexError: index 11 is out of bounds for axis 1 with size 11

In [ ]:
#Building the network
net = tflearn.input_data([None,25])
net = tflearn.embedding(net, input_dim=len(title_vp.vocabulary_), output_dim = 128)
net = tflearn.lstm(net, 128, dropout = 0.8)
net = tflearn.fully_connected(net, TOTAL_SCORE_PHASES, activation = 'softmax')
net = tflearn.regression(net, optimizer = 'adam', learning_rate = 0.0001,
                        loss = 'categorical_crossentropy')

In [ ]:
#traning
model = tflearn.DNN(net, tensorboard_verbose = 0)
model.fit(trainX, trainY, validation_set = (testX, testY), show_metric = True, batch_size = 32)